
@{
    ViewBag.Title = "Edit";
}

<h2 class="display-4">Edit Patient</h2>
<div class="row">
    <div class="col">
        <div id="form">
            @Html.Action("EditForm")
        </div>
    </div>
</div>